<p id="notice"><%= notice %></p>

<h1>Auditoria</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auditoria.each do |auditorium| %>
      <tr>
        <td><%= auditorium.title %></td>
        <td><%= auditorium.capacity %></td>
        <td><%= link_to 'Show', auditorium %></td>
        <td><%= link_to 'Edit', edit_auditorium_path(auditorium) %></td>
        <td><%= link_to 'Destroy', auditorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auditorium', new_auditorium_path %>
