<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @auditorium.title %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @auditorium.capacity %>
</p>

<%= link_to 'Edit', edit_auditorium_path(@auditorium) %> |
<%= link_to 'Back', auditoria_path %>
