<%= form_with(model: showtime, local: true) do |form| %>
  <% if showtime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(showtime.errors.count, "error") %> prohibited this showtime from being saved:</h2>

      <ul>
      <% showtime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :time %>
    <%= form.datetime_select :time %>
  </div>

  <div class="field">
    <%= form.label :tickets_sold %>
    <%= form.number_field :tickets_sold %>
  </div>

  <div class="field">
    <%= form.label :references %>
    <%= form.text_field :references %>
  </div>

  <div class="field">
    <%= form.label :references %>
    <%= form.text_field :references %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
